* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ffebee, #ffcdd2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.login-container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 420px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #c62828;
    font-size: 2rem;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #444;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #e53935;
    outline: none;
}

button {
    width: 100%;
    background-color: #e53935;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #b71c1c;
    }

.error-message {
    color: red;
    text-align: center;
    margin-top: 16px;
    font-size: 0.95rem;
}

@media (max-width: 500px) {
    .login-container {
        padding: 30px 20px;
    }
}
