USE [master]
GO
/****** Object:  Database [BloodDonation1]    Script Date: 6/20/2025 6:50:49 PM ******/
CREATE DATABASE [BloodDonation1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BloodDonation1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BloodDonation1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BloodDonation1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BloodDonation1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BloodDonation1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BloodDonation1]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[MedicalCenterID] [int] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[PermissionLevel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodBank]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodBank](
	[BloodBankID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Location] [nvarchar](255) NULL,
	[ContactNumber] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodBankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodInventory]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodInventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[BloodTypeID] [int] NULL,
	[BloodBankID] [int] NULL,
	[Quantity] [decimal](10, 2) NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodRequest]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodRequest](
	[BloodRequestID] [int] NOT NULL,
	[MedicalCenterID] [int] NULL,
	[BloodTypeID] [int] NULL,
	[PatientName] [nvarchar](255) NULL,
	[Reason] [nvarchar](255) NULL,
	[RequestDate] [date] NULL,
	[Quantity] [decimal](10, 2) NULL,
	[IsEmergency] [bit] NULL,
	[IsCompatible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodType]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodType](
	[BloodTypeID] [int] NOT NULL,
	[Type] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationAppointment]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationAppointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[DonorID] [int] NULL,
	[MedicalCenterID] [int] NULL,
	[BloodTypeID] [int] NULL,
	[AppointmentDate] [date] NULL,
	[TimeSlot] [nvarchar](10) NULL,
	[Status] [varchar](50) NULL,
	[HealthSurvey] [nvarchar](max) NULL,
	[QuantityDonated] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationCertificate]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationCertificate](
	[CertificateID] [int] NOT NULL,
	[AppointmentID] [int] NULL,
	[IssueDate] [date] NULL,
	[CertificateDetails] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donor]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donor](
	[DonorID] [int] NOT NULL,
	[AccountID] [int] NULL,
	[BloodTypeID] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[ContactNumber] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[IsAvailable] [bit] NULL,
	[CCCD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DonorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorBloodRequest]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorBloodRequest](
	[DonorBloodRequestID] [int] NOT NULL,
	[BloodRequestID] [int] NULL,
	[DonorID] [int] NULL,
	[DonationDate] [date] NULL,
	[QuantityDonated] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DonorBloodRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthSurvey]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthSurvey](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NULL,
	[QuestionCode] [varchar](500) NULL,
	[Answer] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalCenter]    Script Date: 6/20/2025 6:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalCenter](
	[MedicalCenterID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Location] [nvarchar](255) NULL,
	[ContactNumber] [varchar](20) NULL,
	[BloodBankID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicalCenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [MedicalCenterID], [Username], [Password], [Email], [Role], [PermissionLevel]) VALUES (1, 1, N'MC1', N'pass456', N'csyt1@gmail.com', N'MedicalCenter', 1)
INSERT [dbo].[Account] ([AccountID], [MedicalCenterID], [Username], [Password], [Email], [Role], [PermissionLevel]) VALUES (2, 2, N'MC2', N'pass789', N'csyt2@gmail.com', N'MedicalCenter', 1)
INSERT [dbo].[Account] ([AccountID], [MedicalCenterID], [Username], [Password], [Email], [Role], [PermissionLevel]) VALUES (3, 3, N'MC3', N'pass321', N'csyt3@gmail.com', N'MedicalCenter', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[BloodBank] ([BloodBankID], [Name], [Location], [ContactNumber]) VALUES (1, N'Ngân hàng máu Sài Gòn', N'9 đường số 37, Thủ Đức', N'0909090909')
INSERT [dbo].[BloodBank] ([BloodBankID], [Name], [Location], [ContactNumber]) VALUES (2, N'Ngân hàng máu Hà Nội', N'78 Giải Phóng, Hà Nội', N'094123453')
INSERT [dbo].[BloodBank] ([BloodBankID], [Name], [Location], [ContactNumber]) VALUES (3, N'Ngân hàng máu Đà Nẵng', N'12 Trường Chinh, Đà Nẵng', N'0934123456')
GO
SET IDENTITY_INSERT [dbo].[BloodInventory] ON 

INSERT [dbo].[BloodInventory] ([InventoryID], [BloodTypeID], [BloodBankID], [Quantity], [LastUpdated]) VALUES (1, 1, 1, CAST(2.00 AS Decimal(10, 2)), CAST(N'2025-06-01T08:00:00.000' AS DateTime))
INSERT [dbo].[BloodInventory] ([InventoryID], [BloodTypeID], [BloodBankID], [Quantity], [LastUpdated]) VALUES (2, 7, 1, CAST(1.00 AS Decimal(10, 2)), CAST(N'2025-06-01T08:00:00.000' AS DateTime))
INSERT [dbo].[BloodInventory] ([InventoryID], [BloodTypeID], [BloodBankID], [Quantity], [LastUpdated]) VALUES (3, 2, 1, CAST(0.50 AS Decimal(10, 2)), CAST(N'2025-06-20T18:15:20.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[BloodInventory] OFF
GO
INSERT [dbo].[BloodRequest] ([BloodRequestID], [MedicalCenterID], [BloodTypeID], [PatientName], [Reason], [RequestDate], [Quantity], [IsEmergency], [IsCompatible]) VALUES (1, 1, 1, N'Trần Thị A', N'Cần máu cho ca phẫu thuật', CAST(N'2025-06-13' AS Date), CAST(1.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[BloodRequest] ([BloodRequestID], [MedicalCenterID], [BloodTypeID], [PatientName], [Reason], [RequestDate], [Quantity], [IsEmergency], [IsCompatible]) VALUES (2, 2, 2, N'Nguyễn Thị B', N'Điều trị thiếu máu', CAST(N'2025-06-14' AS Date), CAST(1.50 AS Decimal(10, 2)), 0, NULL)
INSERT [dbo].[BloodRequest] ([BloodRequestID], [MedicalCenterID], [BloodTypeID], [PatientName], [Reason], [RequestDate], [Quantity], [IsEmergency], [IsCompatible]) VALUES (3, 3, 3, N'Lê Minh C', N'Cần máu cho ca mổ tim', CAST(N'2025-06-15' AS Date), CAST(0.50 AS Decimal(10, 2)), 1, NULL)
GO
INSERT [dbo].[BloodType] ([BloodTypeID], [Type]) VALUES (1, N'A+')
INSERT [dbo].[BloodType] ([BloodTypeID], [Type]) VALUES (2, N'A-')
INSERT [dbo].[BloodType] ([BloodTypeID], [Type]) VALUES (5, N'AB+')
GO
SET IDENTITY_INSERT [dbo].[DonationAppointment] ON 

INSERT [dbo].[DonationAppointment] ([AppointmentID], [DonorID], [MedicalCenterID], [BloodTypeID], [AppointmentDate], [TimeSlot], [Status], [HealthSurvey], [QuantityDonated]) VALUES (2, 1, 1, 1, CAST(N'2025-06-25' AS Date), N'Sáng', N'Pending', N'{"Q1": true}', NULL)
INSERT [dbo].[DonationAppointment] ([AppointmentID], [DonorID], [MedicalCenterID], [BloodTypeID], [AppointmentDate], [TimeSlot], [Status], [HealthSurvey], [QuantityDonated]) VALUES (3, 2, 1, 2, CAST(N'2025-06-20' AS Date), N'Chiều', N'Confirmed', N'{"Q1": false}', CAST(0.35 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DonationAppointment] OFF
GO
INSERT [dbo].[DonationCertificate] ([CertificateID], [AppointmentID], [IssueDate], [CertificateDetails]) VALUES (1, 5, CAST(N'2025-06-20' AS Date), N'Chứng chỉ hiến máu cho Nguyễn Văn A, nhóm máu A+, hiến 350ml tại Bệnh viện Bạch Mai ngày 2025-06-20.')
GO
INSERT [dbo].[Donor] ([DonorID], [AccountID], [BloodTypeID], [Name], [Gender], [DateOfBirth], [ContactNumber], [Address], [IsAvailable], [CCCD]) VALUES (1, 2, 3, N'Nguyễn Văn A', N'M', CAST(N'1985-01-01' AS Date), N'0912345678', N'123 Đường ABC', 1, N'123456789012')
INSERT [dbo].[Donor] ([DonorID], [AccountID], [BloodTypeID], [Name], [Gender], [DateOfBirth], [ContactNumber], [Address], [IsAvailable], [CCCD]) VALUES (2, 3, 1, N'Trần Thị B', N'F', CAST(N'1990-02-02' AS Date), N'0987654321', N'234 Đường DEF', 1, N'234567890123')
INSERT [dbo].[Donor] ([DonorID], [AccountID], [BloodTypeID], [Name], [Gender], [DateOfBirth], [ContactNumber], [Address], [IsAvailable], [CCCD]) VALUES (3, 4, 4, N'Phạm Minh C', N'M', CAST(N'1987-03-03' AS Date), N'0912348765', N'345 Đường GHI', 1, N'345678901234')
GO
INSERT [dbo].[DonorBloodRequest] ([DonorBloodRequestID], [BloodRequestID], [DonorID], [DonationDate], [QuantityDonated]) VALUES (1, 1, 1, CAST(N'2025-06-13' AS Date), CAST(1.50 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[HealthSurvey] ON 

INSERT [dbo].[HealthSurvey] ([SurveyID], [AppointmentID], [QuestionCode], [Answer]) VALUES (14, 2, N'Q1', N'1')
INSERT [dbo].[HealthSurvey] ([SurveyID], [AppointmentID], [QuestionCode], [Answer]) VALUES (15, 3, N'Q1', N'0')
INSERT [dbo].[HealthSurvey] ([SurveyID], [AppointmentID], [QuestionCode], [Answer]) VALUES (16, 4, N'Q1', N'1')
SET IDENTITY_INSERT [dbo].[HealthSurvey] OFF
GO
INSERT [dbo].[MedicalCenter] ([MedicalCenterID], [Name], [Location], [ContactNumber], [BloodBankID]) VALUES (1, N'Cơ sở y tế số 1', N'TP.HCM', N'02438693731', 1)
INSERT [dbo].[MedicalCenter] ([MedicalCenterID], [Name], [Location], [ContactNumber], [BloodBankID]) VALUES (2, N'Cơ sở y tế số 2', N'TP.HCM', N'02838554137', 2)
INSERT [dbo].[MedicalCenter] ([MedicalCenterID], [Name], [Location], [ContactNumber], [BloodBankID]) VALUES (3, N'Cơ sở y tế số 3', N'TP.HCM', N'02343823473', 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__536C85E485A8EA5D]    Script Date: 6/20/2025 6:50:49 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BloodTyp__F9B8A48BEFC0761C]    Script Date: 6/20/2025 6:50:49 PM ******/
ALTER TABLE [dbo].[BloodType] ADD UNIQUE NONCLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Donation__8ECDFCA3388C7D56]    Script Date: 6/20/2025 6:50:49 PM ******/
ALTER TABLE [dbo].[DonationCertificate] ADD UNIQUE NONCLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Donor__349DA5873FCB7014]    Script Date: 6/20/2025 6:50:49 PM ******/
ALTER TABLE [dbo].[Donor] ADD UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DonorBlo__A42B2A209967B10D]    Script Date: 6/20/2025 6:50:49 PM ******/
ALTER TABLE [dbo].[DonorBloodRequest] ADD UNIQUE NONCLUSTERED 
(
	[BloodRequestID] ASC,
	[DonorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([MedicalCenterID])
REFERENCES [dbo].[MedicalCenter] ([MedicalCenterID])
GO
ALTER TABLE [dbo].[BloodInventory]  WITH CHECK ADD FOREIGN KEY([BloodTypeID])
REFERENCES [dbo].[BloodType] ([BloodTypeID])
GO
ALTER TABLE [dbo].[BloodInventory]  WITH CHECK ADD FOREIGN KEY([BloodBankID])
REFERENCES [dbo].[BloodBank] ([BloodBankID])
GO
ALTER TABLE [dbo].[BloodRequest]  WITH CHECK ADD FOREIGN KEY([BloodTypeID])
REFERENCES [dbo].[BloodType] ([BloodTypeID])
GO
ALTER TABLE [dbo].[BloodRequest]  WITH CHECK ADD FOREIGN KEY([MedicalCenterID])
REFERENCES [dbo].[MedicalCenter] ([MedicalCenterID])
GO
ALTER TABLE [dbo].[DonationAppointment]  WITH CHECK ADD FOREIGN KEY([BloodTypeID])
REFERENCES [dbo].[BloodType] ([BloodTypeID])
GO
ALTER TABLE [dbo].[DonationAppointment]  WITH CHECK ADD FOREIGN KEY([DonorID])
REFERENCES [dbo].[Donor] ([DonorID])
GO
ALTER TABLE [dbo].[DonationAppointment]  WITH CHECK ADD FOREIGN KEY([MedicalCenterID])
REFERENCES [dbo].[MedicalCenter] ([MedicalCenterID])
GO
ALTER TABLE [dbo].[DonationCertificate]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[DonationAppointment] ([AppointmentID])
GO
ALTER TABLE [dbo].[Donor]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Donor]  WITH CHECK ADD FOREIGN KEY([BloodTypeID])
REFERENCES [dbo].[BloodType] ([BloodTypeID])
GO
ALTER TABLE [dbo].[DonorBloodRequest]  WITH CHECK ADD FOREIGN KEY([BloodRequestID])
REFERENCES [dbo].[BloodRequest] ([BloodRequestID])
GO
ALTER TABLE [dbo].[DonorBloodRequest]  WITH CHECK ADD FOREIGN KEY([DonorID])
REFERENCES [dbo].[Donor] ([DonorID])
GO
ALTER TABLE [dbo].[HealthSurvey]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[DonationAppointment] ([AppointmentID])
GO
ALTER TABLE [dbo].[MedicalCenter]  WITH CHECK ADD FOREIGN KEY([BloodBankID])
REFERENCES [dbo].[BloodBank] ([BloodBankID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CHK_PermissionLevel] CHECK  ((([Role]='Donor' OR [Role]='MedicalCenter') AND [PermissionLevel]=(1) OR [Role]='Staff' AND [PermissionLevel]=(2) OR [Role]='Admin' AND [PermissionLevel]=(3)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CHK_PermissionLevel]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CHK_Role] CHECK  (([Role]='Staff' OR [Role]='Admin' OR [Role]='Donor' OR [Role]='MedicalCenter'))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CHK_Role]
GO
ALTER TABLE [dbo].[DonationAppointment]  WITH CHECK ADD CHECK  (([TimeSlot]=N'Chiều' OR [TimeSlot]=N'Sáng'))
GO
USE [master]
GO
